australian_postcodes.csv
ASGS_Ed3*.zip
ASGS_Ed3_Non_ABS_Structures_GDA2020_GPKG_updated_2022/
Suburb.csv
suburbs.csv
MyHospitals_Public.zip
MyHospitals_Public/
confirmed_cases_table1_location_agg.csv
STE_2021_AUST_SHP_GDA2020*
